.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  background-color: var(--color3);

  width: 40vw;
  height: 100%;
  padding: 0 5em;
  gap: 2em;
}
.BlurText {
  font-family: var(--fonttitulo);
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 3rem;
  align-items: center;
}
.h2 {
  align-items: center;
  font-family: var(--fontsubtitulo);
}
.p {
  font-family: var(--fonttexto);
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1000px) {
  .main {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
