.divHomeDireita {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;

  height: 100vh;
  width: 100%;
}
.PerfilPrincipal {
  position: absolute;
  height: 30em;
}
@media (max-width: 1000px) {
  .PerfilPrincipal {
    height: 30em;
  }
}
